<div class="container mt-5">
  <h3 class="text-center mb-4">Register New User</h3>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="userId">User Id:</label>
      <input type="text" class="form-control" id="userId" [(ngModel)]="user.userId" name="UserId" placeholder="Enter your user ID" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.userPassword" name="Password" placeholder="Enter your password" required />
    </div>
    <button type="submit" class="btn btn-primary btn-block" style="margin: 10px">Register</button>
  </form>
</div>
